* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
}

input,
select {
  border: none;
  cursor: pointer;
}

.container {
  background-color: rgba(107, 107, 148, 0.65);
  z-index: 1;
  width: 100%;
  padding-top: 50px;
}

#title {
  color: white;
  text-align: center;
  margin-bottom: 0.25em;
}

#description {
  color: white;
  text-align: center;
  font-size: 1.125rem;
  font-style: italic;
}

#survey-form {
  max-width: 640px;
  margin: auto;
  padding: 2rem;
  background-color: rgba(27, 27, 50, 0.8);
  opacity: 0.9;
  margin-top: 2rem;
  border-radius: 0.3rem;
  color: white;
  font-size: 1.125rem;
}

#name,
#email,
#number,
#dropdown {
  font-family: inherit;
  font-size: 1rem;
  display: block;
  width: 100%;
  margin: 0.5rem 0 1.5rem 0;
  height: 2.5rem;
  border-radius: 0.3rem;
  padding-left: 0.5rem;
}

#name:focus,
#email:focus,
#number:focus,
#dropdown:focus {
  outline: none;
  cursor: unset;
}

#radio-title,
#checkbox-title {
  color: white;
  padding-bottom: 0.5rem;
  font-size: 1.125rem;
}

#definitely-label,
#maybe-label,
#not-sure-label {
  color: white;
  padding-left: 0.5rem;
  cursor: pointer;
}

#radio-button {
  display: block;
  padding: 0.2rem 0;
}

#radio-button3 {
  display: block;
  padding: 0.2rem 0;
  padding-bottom: 1.5rem;
}

.checkbox-label {
  display: block;
  color: white;
  cursor: pointer;
  line-height: 1.7;
}

.textarea {
  color: white;
  padding: 2rem 0 1rem 0;
  display: block;
}

textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 120px;
  resize: vertical;
  border: 1px solid black;
  font-family: inherit;
  padding: 0.625rem;
}

textarea::placeholder {
  font-size: 0.9rem;
}

textarea:focus {
  outline: none;
}

#submit {
  font-size: 1rem;
  font-weight: 600;
  color: inherit;
  width: 100%;
  margin: 1.5rem 0 2rem 0;
  padding: 0.7rem 0;
  background-color: #37af65;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}